<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961598905279-oit43u1nqi90oj42nbkt43ddo7p5fe15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961598905279-oit43u1nqi90oj42nbkt43ddo7p5fe15</string>
	<key>API_KEY</key>
	<string>AIzaSyDl_Yw0-okyA6iaYD0wjqeUJFW4Az7BQEw</string>
	<key>GCM_SENDER_ID</key>
	<string>961598905279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectWaves</string>
	<key>PROJECT_ID</key>
	<string>projectwaves-e0bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>projectwaves-e0bcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961598905279:ios:6750356e2a836b10ae1f0a</string>
</dict>
</plist>